################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LocalizerIssue/bin/Debug/netcoreapp3.1
/LocalizerIssue/obj
/LocalizerIssue/.vs/LocalizerIssue
